node_modules/
dist/
.next/
.next-*/
.turbo/
coverage/
*.log
*.tsbuildinfo

# local sqlite/dev databases
*.db
*.db-journal
*.sqlite
*.sqlite3

# env & secrets
.env
.env.local
.env.*.local

# prisma generated client
prisma/generated/

# OS / editor
.DS_Store
.idea/
.vscode/
.vercel
